*{
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif
}

#canvas{
  border: 5px solid black;
}

body{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.board-container{
  width: 580px;
  height: 500px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px auto;
}

.board-header{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 0px 20px; */
}

.board-header div {
  text-align: center;
}

.board-header div p{
  font-weight: bold;
  font-size: 20px;
}

.board-header div  div{
  /* border: 1px solid black; */
  opacity: 0.5;

  width: 0; 
  height: 0; 
  border-left: 20px solid gray;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent; 
  rotate: 90deg;

  margin: 0px 30px;
}

.board{
  width: 100%;
  height: 100%;
  display: grid;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;

  background-color: blue;

  border: 3px solid black;
  border-radius: 3px;

}

.board div{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid black;
}

.token-red{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid black;
}

.token-yellow{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid black;
}

.bar{
  width: 200px;
  height: 8px;
  border-radius: 8px;
  background-color: #7DCE13;
  border: 2px solid #2B7A0B;
  position: fixed;
  margin: 0px;
  padding: 0px;
}

.header{
  width: 250px;
  height: 50px;
  display: flex;

  justify-content: center;
  align-items: center;

  left: calc(50% - 125px);
  top: 0px;

  position: absolute;
  border-radius: 0px 0px 10px 10px;
}

.header-red{
  background-color: #FF1E1E;
  color: #ffffff;
}

.header-yellow{
  background-color: #FFDE00;
  color: #000000;
}

.winner-modal{
  width: 300px;
  height: 100px;
  border-radius: 10px;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  text-align: center;

  padding: 5px;
  top: calc(50% - 100px);
  left: calc(50% - 150px);

  z-index: 200;
}

.modal-hidden{
  display: none;
}

.modal-visible{
  display: flex;
}

.modal-red{
  background-color: #FF1E1E;
  color: #FFFFFF;
  border: 4px solid #d10303;
}

.modal-yellow{
  background-color: #FFDE00;
  color: #000000;
  border: 4px solid #d7bb00;
}

.modal-button{
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: blue;
  color: #ffffff;
  border: 3px solid rgb(0, 0, 210);
  cursor: pointer;
}

@keyframes token-winner {
  0%{
    background-color: black;
  }
  50%{
    background-color: green;
  }
  100%{
    background-color: black;
  }
}